#white_cards {
  padding: var(--main-padding);

  display: grid !important;
  /* need to override display: grid */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* grid-template-rows: repeat(10, 300px); */
  grid-gap: 1em;
}
  .card {
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 0.5em;

    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5;
    height: 230px;
    hyphens: manual;
  }