/* 
  Add to both files.
  These styles will be overrided many times
*/

/* both */
#game_starting {
  display: none;
}

/* host.html */
#black_card {
  display: none;
}
#round_end {
  display: none;
}

/* player.html */
#hand_cards {
  display: none;
}

/* some values */
:root {
  --main-padding: 1em 10%;
}

.github {
  padding: var(--main-padding);
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  /* width: 100%; */
}